<div id="footer">
    <p>Contact Us:</p>
    <ul>
        <li>Mobile: **********</li>
        <li>Email: ********@gmail.com</li>
    </ul>

    <p>Stay connected with us:</p>
    <ul>
        <li><a href="https://twitter.com/example" target="_blank">Twitter</a></li>
        <li><a href="https://linkedin.com/company/example" target="_blank">LinkedIn</a></li>
        
    </ul>

    <p>About Our Company:</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et risus vitae metus eleifend sagittis. Vestibulum ullamcorper odio at dolor suscipit, vel eleifend purus cursus.</p>

    <p>&copy; 2024 Your <b>dexyswap</b>. All rights reserved.</p>
</div>
