<%- include("includes/head.ejs") %>

    <div id="main">
        <div class="box" id="quote">"Code your self-worth in every line, debug self-doubt with determination, and deploy
            confidence in the web of your existence. You are the master developer of your own destiny." 💻✨ #SelfLove
            #DeveloperJourney</div>

        <div class="box" id="img"></div>

    </div>

    <script src="/app.js"></script>

    <%- include("includes/footer.ejs") %>